<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yorijori</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link rel="stylesheet" href="/css/funding/joinFundingClick.css">
</head>
<body>
    <div id="container">

    <div class="funding-box">
        <div class="select">
            <h4 class="h4">
                <span class="item">
                    <%= group.productName %>  <%= group.unit%>개</span>
                를 구매하고 있어요!
            </h4>
        </div>
        <div class="information-box">
            <div class="information">신청자: 
                <span class="info"> <%= user.name %> </span>
            </div>
            <div class="information">전화번호: 
                <span class="info"> <%= user.phoneNumber %> </span>
            </div>
            <div class="information">상품 가격: 
                <span class="info"> <%= price %>(배송비 포함) </span>
            </div>
        </div>
        <div class="information-box2">
            <div class="information">대표자: 
                <span class="info"> <%= group.name%> </span>
            </div>
            <div class="information">배부 위치: 
                <span class="info"> 
                    <%= group.city%>
                    <%= group.district%>
                    <%= group.town%>
                    <%= group.detail%> 
                </span>
                <button id="place" type="button" onclick="showPopup()">위치</button>
            </div>
            <div class="information">배부 일자 및 시간: 
                <span class="info"> 
                    <%= group.distributionDate%>
                </span>
            </div>
        </div>
        <a href="<%=`/joinfundingPage/joinFundingComplete/${group.fundingGroupId}/complete`%>">
            <span class="button">확인</span>
        </a>
    </div>

     <!-- 팝업 배경 -->
     <div class="popup-bg" id="popup-bg" onclick="closePopup()"></div>

     <!-- 팝업 내용 -->
     <div class="popup" id="popup">
         <div id="map"></div>
             <button type="button" onclick="closePopup()" id="popupButton">닫기</button>
     </div>
 <!-- 카카오 지도 API -->
     <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dc9589943a0e0e8e5195fc4385506416&libraries=services"></script>
     <script>
         let juso = "<%= juso %>";
     let mapContainer = document.getElementById('map'), // 지도를 표시할 div 
         mapOption = {
             center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
             level: 3 // 지도의 확대 레벨
         };  
     
     // 지도를 생성합니다    
     let map = new kakao.maps.Map(mapContainer, mapOption); 
     
     // 주소-좌표 변환 객체를 생성합니다
     let geocoder = new kakao.maps.services.Geocoder();
     
     // 주소로 좌표를 검색합니다 
     geocoder.addressSearch(juso, function(result, status) {
         // 정상적으로 검색이 완료됐으면 
          if (status === kakao.maps.services.Status.OK) {
     
             let coords = new kakao.maps.LatLng(result[0].y, result[0].x);
     
             // 결과값으로 받은 위치를 마커로 표시합니다
             let marker = new kakao.maps.Marker({
                 map: map,
                 position: coords
             });
     
             // 인포윈도우로 장소에 대한 설명을 표시합니다
             let infowindow = new kakao.maps.InfoWindow({
                 content: '<div style="width:100px;text-align:center;padding-left:25px;">배부 위치</div>'
             });
             infowindow.open(map, marker);
             
 
         } 
     });    
     </script>
     <script>
         function showPopup() {
             document.getElementById('popup').style.display = 'block';
             document.getElementById('popup-bg').style.display = 'block';
             setTimeout(function () {
                 map.relayout();// 윈도우가 리사이즈될 때 지도의 크기를 조정합니다
                 map.setCenter(coords); // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
             }, 0);
         }
 
         function closePopup() {
             document.getElementById('popup').style.display = 'none';
             document.getElementById('popup-bg').style.display = 'none';
         }
     </script>
     </div>
</body>
</html>