<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/funding/product_detail.css">

    <title>Yorijori Product Detail</title>
</head>
<body>
    <div class="content">
        <div class="information-box">
            <div class="img_box">
                <img class="img" src="<%= product.imageUrl %>" alt="Product Image"></img>
            </div>
            <div class="information-list">
                <div class="information">상품번호:
                    <span class="info"><%= product.fundingProductId %></span>
                </div>
                <div class="information">상품명:
                    <span class="info"><%= product.productName %></span>
                </div>
                <div class="information">상품 수량:
                    <span class="info"><%= product.quantity %></span>
                </div>
                <div class="information">판매자(기업):
                    <span class="info"><%= product.seller %></span>
                </div>
                <div class="information">가격:
                    <span class="info"><%= product.unitPrice %></span>
                </div>
                <div class="information">유통기한:
                    <span class="info"><%= product.formattedExpirationDate %></span>
                </div>
            </div> 
            
        </div>
        <div class="funding-button-container">
            <button class="funding-button" onclick="location.href='/createfundingPage/create_funding/<%= product.fundingProductId %>'">이 제품으로 펀딩 생성</button>        
        </div>
    </div>
</body>
</html>