<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/create_funding.css">
    <link rel="stylesheet" href="/css/funding/joinFunding.css">

    <title>Yorijori Funding Product Searching</title>
</head>
<body>
    <!-- 검색 바 가져오기 (action 태그 빼고~) -->
    <div class="content">
        <% if (Object.keys(results).length > 0) { %>
            <% results.forEach(product => { %>
                <div class="funding-box">
                    <div class="information-box">
                        <div class="information-list">
                            <div class="information">상품 번호: 
                                <span class="info"> <%= product.fundingProductId %> </span>
                            </div>
                            <div class="information">상품명: 
                                <span class="info"> <%= product.productName %> </span>
                            </div>
                            <div class="information">상품 수량: 
                                <span class="info"> <%= product.quantity %> </span>
                            </div>
                            <div class="information">판매자(기업):
                                <span class="info"> <%= product.seller %> </span>
                            </div>
                            <div class="information">가격:
                                <span class="info"> <%= product.unitPrice %> </span>
                            </div>
                            <div class="information">유통기한: 
                                <span class="info"> <%= product.expirationDate %> </span>
                            </div>
                        </div>
                        <div class="img">
                            <img src="<%= product.imageUrl %>" alt="Product Image"></img>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="funding-button" onclick="createFunding('<%= product.fundingProductId %>')">이 제품으로 펀딩 생성</button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>검색 결과가 없습니다.</p>
        <% } %>
    </div>

    <script>
        function createFunding(productNumber) {
            window.location.href = `/create_funding_detail?fundingProductId=${productNumber}`;
        }
    </script>
</body>
</html>
