<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= category %> Posts</title>
    <link rel="stylesheet" href="/css/recipe/styles.css">
</head>

<body>
    <% var categoryNames = {
        'meat': '육류',
        'seafood': '해물류',
        'vegetable': '채소',
        'fruit': '과일',
        'eggs_dairy': '달걀/유제품',
        'source': '양념/소스',
        'korean': '한식',
        'chinese': '중식',
        'japanese': '일식',
        'western': '양식',
        'dessert': '디저트',
        'mushroom': '버섯류',
        'beans_nuts': '콩/견과류'
    };
    
    var categoryKorean = categoryNames[category] || category; %>
    <h1><%= categoryKorean %></h1>

    <%- include('subCategoryBar', { category: category }); %>

    <div class="gallery">
        <% if(posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="recipe-card">
                    <% if (post.images && post.images.length > 0) { %>
                        <% const firstImage = post.images[0]; %>
                        <img src="<%= firstImage.imageUrl %>" alt="postImage" class="recipe-image">
                    <% } %>                    
                    <h2><%= post.title %></h2>
                    <p>주재료: <%= post.ingredients %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No posts available for this category.</p>
        <% } %>
    </div>
</body>
</html>