<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/recipe/styles.css">
</head>
<body>
    <h1>사용자가 많이 찾는 레시피</h1>
    <div class="gallery popular-recipes">
        <% if(posts.length > 0) { %>
            <% posts.slice(0, 6).forEach(post => { %>
                <div class="recipe-card">
                    <% if (post.images && post.images.length > 0) { %>
                        <% post.images.forEach(image => { %>
                          <img src="<%= image.imageUrl %>" alt="postImage">
                        <% }); %>
                    <% } %>
                    <h2><%= post.title %></h2>
                    <p>주재료: <%= post.ingredients %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No posts available for this category.</p>
        <% } %>
    </div>
    <h1>이런 메뉴는 어떠신가요</h1>
    <div class="gallery suggested-recipes">
        <% if(posts.length > 6) { %>
            <% posts.slice(6, 15).forEach(post => { %>
                <div class="recipe-card">
                    <% if (post.images && post.images.length > 0) { %>
                        <% const firstImage = post.images[0]; %>
                        <img src="<%= firstImage.imageUrl %>" alt="postImage" class="recipe-image">
                    <% } %>  
                    <h2><%= post.title %></h2>
                    <p>주재료: <%= post.ingredients %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>추가 메뉴가 없습니다.</p>
        <% } %>
    </div>
</body>
</html>