<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/write/writedPage.css" />
    <script defer src="/js/write/writedPage.js"></script>
  </head>
  <body>
    <div class="all">
      <div class="writted-page">
        <div class="main">written</div>
        <div class="ingredients">
        <div>재료</div>
        <div class="writted">
         <%for(let i=0; i<ingredientArr.length; i++){%>
          <%=ingredientArr[i][0].dataValues.ingredientName%>
        <%}%>
        </div>
        </div>
        <div class="ingredients">
          <div>메뉴</div>
          <div class="writted">
            <%=menu%>
          </div>
          </div>
          <div class="ingredients">
            <div>카테고리</div>
            <div class="writted">
              <%=category%>
            </div>
            </div>
        <div class="writted">
          <article>
            <div class="write-header">
              <div class="nic">
                <img src="/assets/Vector.png" class="userImg" />
                <div class="ueerNic"><%=nicName%></div>
              </div>
              <!-- 수정 삭제 바 -->
              <div class="bt-bar">
                  <button class="dok" style="display:block;">
                      <img src="/assets/---.png" />
                  </button>
              </div>  
              </div>
              </article>
            <!-- 게시글 수정버튼 -->
            <div class="alter-box">
              <div class="correction co">
                <a href="../write/viewUpdatePage?postId=<%= postId %>">
                  <div class="su suj">수정하기</div>
                </a>
                <hr />
                <div class="su erase" onclick="eraseModal2('<%= postId %>')">삭제하기</div>
              </div>
            </div>
            
            <h2><%=title%></h2>
            <div class="data">
              <%-content%>
            </div>
            <div class="writted-bottom">
              <div class="all-writed">
                <div>댓글</div>
                <div class="writted-num"><%=comment.length%>개</div>
              </div>
              <div class="all-writed">
                <div>조회수</div>
                <div class="writted-num"></div>
              </div>
              <div class="writted-time"><%= new Date(date).toLocaleDateString() %></div>
            </div>
          </article>
          <div class="write">
            <!-- 커멘트 작성 -->
            <form action="../write/postCommentPage" method="POST" name="comment">
              <input type="hidden" name="postId" value="<%= postId %>">
              <div class="comment">
                <div>
                    <input
                      type="text"
                      class="comment-place"
                      placeholder="댓글을 입력하세요"
                      required
                      name="comment"
                    />
                    <button class="comment-bt" onclick="checkLogin('<%= LoginuserId %>', event)" type="submit">답변등록</button>
                </div>
              </div>
           </form>
          </div>
          <% if (typeof comment!== 'undefined' && comment !== null) { %>
            <!-- 모든 코멘트 보여주기 -->
            <div class="allComment">
            <div>
              <%for(let i=0; i<comment.length; i++){%>
              <article>
                <%const commentId = comment[i].dataValues.commentId%>
                <div class="comment-main">
                  <div class="comment-box">
                    <div class="nic-box">
                      <div id="img">
                        <img src="/assets/Vector.png" class="userImg" />
                      </div>
                      <div class="nic"><%=commentUser[i]%></div>
                    </div>
                    <!-- 코멘트 수정 박스 hiddent 처리 되어있음-->
                    <form action="../write/commentUpdate" method="POST" name="commentUpdate">
                      <input type="hidden" name="commentId" value="<%= commentId %>">
                      <input type="hidden" name="commentUserId" value="<%=comment[i].dataValues.userId %>">
                       <input type="hidden" name="postId" value="<%=postId%>">
                      <div class="comm-content" id="editForm-<%=commentId%>">
                        <input
                          id="comm-<%= commentId %>"
                          name="commentContent"
                          type="text"
                          class="com-su"
                          placeholder="내용을 입력하세요"
                          required
                        />
                        <button class="su hak" onclick="checkHak('<%= commentId %>')">확인</button>  
                      </div>
                    </form>
                    <!-- 코멘트 내용 -->
                    <div class="comm-content1"><%=comment[i].dataValues.content%></div>
                    <!-- 코멘트 수정 삭제 버튼-->
                    <div class="alt" id="alt-<%= commentId %>">
                      <div class="alter-box">
                        <% if(LoginuserId==comment[i].dataValues.userId){ %>
                        <div class="correction">
                          <div class="su bu2" onclick="openEditForm('<%= commentId %>')">수정하기</div>
                          <hr />
                          <!-- 삭제하기 버튼 -->
                          <div class="su er" onclick="eraseModal('<%= commentId %>')">삭제하기</div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </article>

              <div class="modal" id="modal-<%=commentId%>">
                <div class="modal_body">
                  <p>정말 삭제하시겠습니까?</p>
                    <form action="/write/commentDelete" method="POST" name="commentDelete">
                    <input type="hidden" name="commentId" value="<%= commentId %>">
                    <input type="hidden" name="commentUserId" value="<%=comment[i].dataValues.userId %>">
                    <input type="hidden" name="postId" value="<%=postId%>">
                    <button class="btn-ok" type="submit" >확인</button>
                  </form>
                  <button class="btn-no" onclick="cancellation('<%= commentId %>')">취소</button>
                </div>
              </div>
              <div class="modal2" id="modal2-<%=postId%>">
                <div class="modal_body">
                  <p>정말 삭제하시겠습니까?</p>
                    <form action="../write/deletePost" method="POST" name="commentDelete">
                    <input type="hidden" name="postId" value="<%= postId %>">
                    <button class="btn-ok" type="submit">확인</button>
                  </form>
                  <button class="btn-no" onclick="cancellation('<%= commentId %>')">취소</button>
                </div>
              </div>
              
              <%}%>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    
  </body>
</html>